
<div class="container">
<ul>
    <li>
        <a routerLink="/produits" routerLinkActive="active">
          <h3><span class="badge">1.</span> Produits</h3>
        </a>
        </li><li>
            <a routerLink="/clients" routerLinkActive="active">
              <h3><span class="badge">2.</span> Clients</h3>
            </a>
            </li><li>
                <a routerLink="/sellers" routerLinkActive="active">
                  <h3><span class="badge">3.</span> Vendeurs</h3>
                </a>
                </li><li>
                    <a routerLink="/orders" routerLinkActive="active">
                      <h3><span class="badge">4.</span> Orders</h3>
                    </a>
                    </li>
</ul>
</div>